*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body{
  background-image: url('img/natural-default-pattern.png');
  width: 1200px;
  color: #666;
  font-family: 'Roboto',Arial,Helvetica,sans-serif;
  line-height: 1.8;
  font-weight: 300;
}

.header{
  width: 100%;
  background-image: url('img/natural-default-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 25px;
  height: 300px;
  border: 15px solid white;
  position: relative;
}

.menu_item a{
  color:white;
  text-decoration: none;
}

.menu_item a:hover{
  background-color: #262320;
}


#navigazione{
  width: 100%;
  margin-bottom: 25px;
}

#navigazione nav ul li{
  display: inline-block;
  text-decoration: none;
  color:white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 40px;
  border-left: 1px solid #262320;
  padding: 0px 10px 0 10px;
}

/*nascondo bordo menu*/
#navigazione ul li:first-child{
  border-left: 0px;
}



#navigazione nav ul{
  text-align: center;
  background-color: #4e4741;
}

h1,h2,h3,h4,h5,h6{
color: #504741;
font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
font-weight: 300;
line-height: 1.0;
margin: 4px 0;
padding: 4px 0;
}

.rss_title a h3{
   display: inline;
   margin-left: 10px;
}

.fa-rss-square{
  color:orange;
}

a{
  text-decoration: none;
}

#logo{
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom:50%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 10px;
  border: 5px solid white;
  letter-spacing: 5px;
  font-size: 50px;
  font-weight: lighter;
}



.sidebar_link{
  text-decoration: none;
  display: block;
  margin-top: 20px;
  color:#9c3;
}

.sidebar_link:hover{
  padding: 10px;
  background-color: #0000000d;
  border-top: 1px solid #ddd;
}


.centrale .paragrafi{
  display: block;
  margin-top: 30px;
}

nav ul li:first-of-type{
  border-left: 0px;
}

.widget{
  width: 25%;
  float: left;
}

.sidebar_1{
  padding: 20px 30px 20px 20px;
  margin-right: 20px;
}

.sidebar_2{
  float: left;
  width: 30%;
}

.widget_2, .widget_3{
  padding: 20px 30px 20px 20px;
  margin-bottom: 20px;
}

.sidebar_2 h3{
  margin-bottom: 20px;
}


.blog{
  float: left;
  width: 45%;
}

.centrale, .sidebar_1, .widget_2, .widget_3, .bottom_footer{
  background-color: #FFFFFF;
}

.centrale{
  margin-right: 20px;
  padding:20px 15px 20px 15px;
}

.centrale p a {
  color:#9c3;
  font-weight: 400;
}

.bottom_footer{
  margin-top: 20px;
  padding: 20px 30px 20px 20px;
  position: relative;
}


.social_icon{
  position: absolute;
  bottom:0;
  right: 0;
  padding: 20px 20px;
}

blockquote{
  font-family: 'Roboto Slab',Georgia,Times,serif;
  font-size: 30px;
  color: black;
  font-weight: 400;
  padding: 10px 40px 10px 40px;
}

.widget_footer_2{
  position: relative;
}

.widget_footer_2 ul{
  position: absolute;
  right: 0;
}

.widget_footer_2 ul li{
  display: inline-block;
}

.social_icon ul li a{
  color: #4e4741;
  margin-left: 10px;
}

.bottom_footer a{
  color: #00000059;
}

.widget_footer_2 ul li a{
  color:black;
}

.widget_footer , .widget_footer_2 {
  float: left;
  width: 25%;;
  padding: 20px;
}

footer{
  background-color: white;
  margin-top: 30px;
}

main:after{
  clear:left;
  display: table;
  content:'';
}

footer:after{
  clear: both;
  display: table;
  content: '';
}
